/**
 * Nanzan (南山)
 *
 * This template is inspired by the typographic style of the book
 * “Engaging Japanese Philosophy” by Thomas P. Kasulis, designed
 * by the Nanzan Institute for Religion and Culture.
 */

@import "variables.css";
@import "fonts/fonts.css";

body {
  background-color: #ffffff;
  color: #000000;
  font-family: var(--font-family-base);
  font-size: 100%;
  line-height: var(--line-height-2);
  padding-block-end: 0;
  padding-block-start: 0;
  padding-inline-end: var(--horizontal-padding);
  padding-inline-start: var(--horizontal-padding);
  word-wrap: break-word;
}

@media screen {
  body {
    background-color: var(--color-bg);
    color: var(--color-fg);
  }
}

@supports (padding: constant(safe-area-inset-left)) and
  (padding: constant(safe-area-inset-right)) {
  body {
    padding-inline-start: calc(
      var(--horizontal-padding) + constant(safe-area-inset-left)
    );
    padding-inline-end: calc(
      var(--horizontal-padding) + constant(safe-area-inset-right)
    );
  }
}

@supports (padding: env(safe-area-inset-left)) and
  (padding: env(safe-area-inset-right)) {
  body {
    padding-inline-end: calc(
      var(--horizontal-padding) + env(safe-area-inset-right)
    );
    padding-inline-start: calc(
      var(--horizontal-padding) + env(safe-area-inset-left)
    );
  }
}

@media screen {
  body {
    margin-inline: auto;
    max-width: 88vw;
  }
}

@media screen and (max-width: 520px) {
  body {
    --horizontal-padding: 15px;
  }
}

@media screen and (min-width: 520px) {
  body {
    --horizontal-padding: 45px;
    max-width: 66vw;
  }
}

:is(h1, h2, h3, h4, h5, h6, ul, ol, blockquote, pre, hr, figure, img) {
  clear: inline-start;
}

:is(h1, h2, h3, h4, h5, h6) + h1,
:is(h1, h2, h3, h4, h5, h6) + h2,
:is(h1, h2, h3, h4, h5, h6) + h3,
:is(h1, h2, h3, h4, h5, h6) + h4,
:is(h1, h2, h3, h4, h5, h6) + h5,
:is(h1, h2, h3, h4, h5, h6) + h6 {
  margin-block-start: 0;
  text-indent: initial;
}

h1 {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-1);
}

h2 {
  font-family: var(--font-family-sc);
  font-size: var(--font-size-3);
  font-variant: small-caps;
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.1em;
  line-height: var(--line-height-1);
  margin-block-start: var(--space-9);
  text-indent: var(--space-14);
}

h2 + :is(h1, h2, h3, h4, h5, h6, p) {
  text-indent: var(--space-14);
}

h2 + :is(ul, ol, blockquote, table, figure) {
  padding-inline-start: var(--space-14);
}

h2 + hr {
  margin-inline-start: var(--space-14);
}

h3 {
  font-size: var(--font-size-3);
  font-style: italic;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-1);
  margin-block-start: var(--space-9);
  text-indent: var(--space-14);
}

h3 + :is(h1, h2, h3, h4, h5, h6, p) {
  text-indent: var(--space-14);
}

h3 + :is(ul, ol, blockquote, pre, table, figure) {
  padding-inline-start: var(--space-14);
}

h3 + hr {
  margin-inline-start: var(--space-14);
}

:is(h1, h2, h3, h4, h5, h6) + h4 {
  float: none;
}

h4 {
  float: inline-start;
  font-size: var(--font-size-3);
  font-style: italic;
  font-weight: var(--font-weight-normal);
  margin-block-end: 0;
  margin-block-start: var(--space-6);
  margin-inline-end: 0;
  margin-inline-start: 0;
}

h4::after {
  content: ".";
  margin-inline-end: 0.5em;
}

:is(h1, h2, h3, h4, h5, h6) + h4::after {
  content: none;
}

h5 {
  font-family: Playfair Display SC, serif;
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.025em;
  line-height: var(--line-height-1);
  margin-block-end: var(--space-6);
  margin-block-start: var(--space-9);
  text-indent: var(--space-9);
  text-transform: uppercase;
}

h6 {
  font-size: var(--font-size-3);
  font-style: italic;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-1);
  margin-block-end: var(--space-6);
  text-indent: var(--space-9);
}

p {
  hyphens: auto;
  margin: 0;
  text-align: justify;
  text-indent: var(--space-9);
  word-break: break-word;
}

:is(h1, h4) + p {
  text-indent: 0;
}

h4 {
  margin-block-start: var(--space-6);
}

h4 + p {
  margin-block-start: var(--space-6);
}

:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) + p {
  text-indent: initial;
}

a {
  color: var(--color-fg);
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

:is(ol, ul, dl) {
  padding: 0;
}

:is(ol, ul) :is(ol, ul) {
  margin-inline-start: var(--space-9);
}

:is(ol, ul) :is(ol, ul) {
  margin-inline-start: var(--space-9);
}

li {
  list-style-position: inside;
  text-indent: var(--space-9);
}

dt {
  font-weight: var(--font-weight-bold);
}

dd {
  margin-inline-start: var(--space-9);
}

figure {
  margin-block-end: var(--space-9);
  margin-block-start: var(--space-9);
  margin-inline-end: 0;
  margin-inline-start: 0;
}

figcaption {
  font-size: 80%;
  text-align: center;
}

table {
  margin-block-end: var(--space-9);
  margin-block-start: var(--space-9);
  width: 100%;
}

pre {
  font-size: 85%;
  line-height: 1.5;
  overflow: auto;
  padding: var(--space-9);
}

code {
  padding-block: 2px;
  padding-inline: 4px;
}

code,
kbd,
pre {
  border-radius: 3px;
  font-family: var(--font-family-mono);
}

pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  font-size: var(--font-size-3);
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

pre code::before,
pre code::after {
  content: normal;
}

code,
pre {
  background-color: #e2e2e2;
  color: #3e3838;
}

.night-mode code,
.night-mode pre {
  background-color: #3e3838;
  color: #c7c1c1;
}

hr {
  border-block-end-width: 0;
  border-width: var(--border-width-1);
  color: var(--color-fg);
  margin-block-end: var(--space-13);
  margin-block-start: var(--space-13);
}

table {
  margin-block-end: var(--space-9);
  margin-block-start: var(--space-9);
  width: 100%;
}

hr {
  border-block-end-width: 0;
  border-width: var(--border-width-1);
  color: var(--color-fg);
  margin-block-end: var(--space-13);
  margin-block-start: var(--space-13);
}

blockquote {
  margin-inline: var(--space-9);
}

:is(h1, h2, h3, h4, h5, h6) + blockquote {
  margin-inline: initial;
}

blockquote p {
  text-indent: 0;
}

@media screen {
  body pre {
    -webkit-overflow-scrolling: touch;
  }
}

@media print {
  body {
    --horizontal-padding: 75px;
  }

  body pre code {
    white-space: pre-wrap;
  }
}

.footnote {
  text-decoration: none;
}

.footnotes hr {
  float: inline-start;
  width: 20%;
}

.footnotes li {
  font-size: 80%;
}

.footnotes p {
  text-align: start;
}

.footnotes .reversefootnote {
  text-decoration: none;
}
